{% autoescape None %}
{% if yaml_config.has_key('property_type') %}
     <label for="{{ yaml_config_name }}"> {{ get_label_from_property(yaml_config_name) }}</label>
     {% if yaml_config['property_type'] == 'string' %}
        <input type="text", id="{{ yaml_config_name }}" {% if yaml_config['mandatory'] == True %}required=""{% end %}>
        {{ get_label_from_property(yaml_config['help']) }}
    {% elif yaml_config['property_type'] == 'container-property' %}
    {% elif yaml_config['property_type'] == 'bool' %}
        <input type="checkbox" id="{{ yaml_config_name }}">
    {% else %}
        <input type="text", id="{{ yaml_config_name }}" >
        {{ get_label_from_property(yaml_config['help']) }}
    {% end %}
{% else %}
    {% for key in yaml_config %}
    {{ render_form(yaml_config[key], key) }}
    {% end %}
{% end %}