<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ static_url('bootstrap/css/bootstrap.min.css') }}">
    <script src="{{ static_url('bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('jquery-1.10.2.min.js') }}"></script>
    <script>
        $(window).load(function () {
            $("[data-toggle='tooltip']").tooltip();
        });
    </script>
    <title></title>
</head>
<body>
<br>
<br>
    <div class="container-fluid">
        <div class="col-md-4">
        </div>
        <div class=col-md-4">
            <form>
                {% include config_form_generator.html %}
                <br>
                <input class="btn" type="button" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>